@font-face {
  font-family: gameFont;
  src: url("../../assets/fonts/game.ttf");
}
.box {
  margin: auto;
  width: 400px;
  height: 200px;
  background-color: black;
  color: white;
  border: darkcyan 4px solid;
  display: flex;
  position: relative;
  &__container {
    word-wrap: break-word;
  }
  &__wrapper {
    width: 800px;
    // background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5px;
  }
  &__border {
    border: darkcyan 4px solid;
    height: 90%;
    width: 95%;

    align-self: center;
    align-items: center;
    margin: auto;
    // padding-left: 100%;
    // margin: 10px;
    &--text {
      margin: 20px;
      font-family: gameFont;
      font-size: 1.2rem;
    }
  }
  &__continue {
    width: 85%;
    font-size: 0.6rem;
    position: absolute;
    bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__border--fix {
    display: inline;
    flex-direction: column;
  }
}
.enemyHealth {
  background-image: url("../../assets/tiles/heart\ pixel\ art\ 254x254.png");
  background-position: center;
  background-size: cover;
}
.plyrHealth {
  background-image: url("../../assets/tiles/heart\ pixel\ art\ 254x254.png");
  background-position: center;
  background-size: cover;
}
.health__wrapper {
  width: 200px;
}

.sub__title {
  font-family: gameFont;
}
