@font-face {
  font-family: Avenir;
  src: url("../../assets/fonts/AvenirNextProLT/Linotype - AvenirNextLTPro-Regular.otf");
}
// @font-face {
//   font-family: Avenir_bold;
//   src: url("../../Assets/_Global\ Font/AvenirNextProLT/Linotype\ -\ AvenirNextLTPro-Bold.otf");
// }
@font-face {
  font-family: gameFont;
  src: url("../../assets/fonts/game.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../../assets/fonts/RobotoSlab-Regular.ttf");
}
