@import "../../Styles/Partials/fonts";
@import "../../Styles/Partials/mixins";

.aboutMe {
  font-family: roboto;
  background-color: #fff;
  line-height: 2rem;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 0 20%;
  padding-top: 80px;
  justify-content: space-between;
  @media #{$tablet-horizontal} {
    padding-top: 110px;
  }
  &__title {
    font-size: 2rem;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: 4px solid #222;
  }
  &__me {
    background-image: url("../../assets/img/PhillipKellogg_1_WD.jpg");
    width: 200px;
    height: 200px;
    background-size: contain;
    border-radius: 50%;
    // margin-right: 20%;
    // margin-right: 40%;
  }
}
h1 {
  margin: 0;
  padding-top: 80px;
}
.text {
  margin: 5% 30%;
}
